.formbody{
  background-image: url('../static/listening-to-music-headphones.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; 
  
}

.predictbody{
    background-image:url('../static/predict.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
}
.title {
    padding: 20px;
    font-family:'Times New Roman', Times;
    color: 	#1c094e;
    font-size: calc(10px + 5vmin);
    text-shadow:2px 2px #e94242 ;
  }
 .upload{
    margin-left: 20px;
    margin-top: 40px;
    font-family:'Times New Roman', Times;
    color: 	#09271f;
 }
 .file{
    background-color: #FF8C00;
    border-radius: 5px;
    color: white;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
 }
 .button{
    background-color: #c95779;
      border-radius: 5px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      margin-top: 20px;
    }

